# The preferred way of addressing the root box is the FQDN
BOXROOT_FQDN=
# Add the sequence of ports to be knocked in order to gain access.
# The ports must be separated by a space.
KNOCK_SEQUENCE=""

# TODO: For multiple admins, create arrays
BOXROOT_ADMIN_USERNAME=flav
BOXROOT_ADMIN_NAME="Flavius Aspra"
BOXROOT_ADMIN_EMAIL=${BOXROOT_ADMIN_USERNAME}+${BOXROOT_LOGICAL_NAME}@${APPDOMAIN}
